<form id="fs-frm" name="simple-contact-form" accept-charset="utf-8" action="https://formspree.io/f/xeqnjwek"
    method="post">
    <fieldset id="fs-frm-inputs">
        <label for="full-name">Vor- und Familienname</label>
        <input type="text" name="name" id="full-name" required="Y">
        <label for="email-address">Email</label>
        <input type="email" name="_replyto" id="email-address" required="Y">
        <label for="telephone">Telefon</label>
        <input type="telephone" name="telephone" id="telephone">
        <label for="message">Nachricht</label>
        <textarea rows="5" name="message" id="message" required="Y"></textarea>
        <input type="hidden" name="_subject" id="email-subject" value="Kontaktformular arbeitimdorf.at">
    </fieldset>
    <input type="submit" value="Senden">
</form>